[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

ujson = "*"
scipy = "*"
pandas = "*"
sklearn = "*"
bokeh = "*"


[dev-packages]

jupyter = "*"
jedi = "*"
importmagic = "*"
"autopep8" = "*"
yapf = "*"
tqdm = "*"


[requires]

python_version = "3.6"
